.center {
  text-align: center;
}

.game-logo {
  height: 400px; 
  text-align: center;
  align-items: center;
    
}
.avatar {
   margin-bottom: 5px;
}

.user-name {
   font-size: 1.6em;
   font-weight: bold;
   margin-bottom: 15px;  
}
.user-score-info {
  margin: 10px;
  display: flex;
  flex-direction: column;
  border-left: 2px solid lightgrey;
  padding-left: 10px;  
  width: 40%;
}

.user-answered, .user-created {
  margin: 10px;
  width: 100%;
}
.user-ans-score-title, .user-cre-score-title {
  float: left;
}
.user-ans-score, .user-cre-score {
  float: right;
}
.score-label {
   background-color: #f5f3f3;
   font-style: Arial;
   font-size: .9em;
   font-weight: bold; 
   margin: 10px 0;
   padding: 10px 0;  
}

.user-total-score {
  border-left: 2px solid lightgrey;
  padding: 20px;    
  margin: auto;
  background-color: #f5f3f3  
}

.score {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 1.2em;
  color: #fff;
  line-height: 2.8em;
  text-align: center;
  background-color: green  
}

.btn-container {
  width: 500px;
  margin: auto;
}
.question-frame, .sign-in, .user-status {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  margin: 20px auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}

.question {
  padding: 10px;
  display: flex;
  align-items: center;
}


.question-info {
  margin: 10px;
  display: flex;
  flex-direction: column;
  border-left: 2px solid lightgrey;
  padding-left: 10px;
  width: 100%;
}

.instructions {
   padding: 10px;
   border: 1px solid #dad7d7;
   border-radius: 3px;
   background-color: #f5f3f3;
   font-style: Arial;
   font-size: .9em;
   text-align: center;
   margin-bottom: 20px;
}
.title {
   padding: 10px;
   border: 1px solid #dad7d7;
   border-radius: 3px;
   background-color: #f5f3f3;
   font-style: Arial;
   font-size: 1.2em;
   font-weight: bold;
   text-align: center;
}

.subheading {
   font-weight: bold;
   margin: 25px 0 10px;
}
.timestamp {
   font-size: .4em;
}
.user-info {
   padding-right: 10px;
}

.dashboard-option { 
   padding: 10px;
   margin: 10px;
   font-size: 1.2em;
   font-family: Georgia;  
}

.option-result-block {
   border: 3px solid lightgrey;
   border-radius: 10px;    
   background-color: #f3f5f5;  
   margin: 10px;
}

.option {
   padding: 10px;
   margin: 10px;
   font-size: 1.2em;
   font-family: Georgia;
}


.btn {
  margin: 5px;
  padding: 5px;
  font-size: 1.3em;
  cursor: pointer;  
}

.btn-half {
  width: 42%;
  margin-bottom: 0;
}
.btn-full {
  width: 96%;
}

.highlight {
  border: 2px green solid;
  background-color: #e0fdfa;
}
.poll-button {
  margin: 10px;
  padding: 5px;
  font-size: 1.3em;
  cursor: pointer;
  width: 100%;
}

.bar-result {
  text-align: center;
  margin-bottom: 10px;
}

.bar-container {
  width: 300px;
}


.bar-base {
   border: 3px solid lightgrey;
   border-radius: 10px;     
   background-color: grey;
   width: 92%;
   height: 20px;
   margin: 10px;
}

.bar-fraction {
   border-radius: 10px;     
   background-color: green;
   height: 17px;
   color: white;
   text-align: right;
   margin: 2px;
   font-size: .8em;
}

.user-vote {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: .8em;
  font-family: Times;
  color: #fff;
  line-height: 1em;
  text-align: center;
  background-color: #e2c300;
  float: right;                /* shift the Your Vote medal to the right and up */
  position: relative;
  left: 20px;
  bottom: 20px;
}
.user-vote-hide {
  display: none;
}
fieldset {
  border: none;
  margin-bottom: 10px;
}

.choices {
  margin-bottom: 10px;
}
input[type="radio"] {
  margin-right: 7px;
}
.author {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.dashboard-list {
  list-style: none;
}
.user-list {
  list-style: none;
  
}
.user-status {
  display: flex;
  align-items: center;  
}
.new-question {
  width: 100%;
}
input[type=text], select {    // no selects in app yet
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 30px;
}
.text-area {
  padding: 0 10px;
  width: 98%;
}
.nav {
  margin: 40px;
  line-height: 1.8em;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;  
  overflow: hidden;
  background-color: green;  
}

.nav li:first-child {
  padding-left: 0;
}

.nav li:last-child {
  border-right: none;
}
.nav-login-name {
  float: right;   
  font-family: 'Georgia';
  font-style: italic;
}

ul {
  padding-left: 0;  
}

.active {
  background-color: #4CAF50;
}
.li-std  {
  float: left;
  border-right: 1px solid #bbb; 
}
.ignoremouse {
  pointer-events: none;
}
.nav-login-name {
  padding: 14px 16px;  
  color: yellow;
}

.nav li a {
  padding: 14px 16px;
  display: block;    
  text-decoration: none; 
  color: white;
  text-align: center; 
  font-family: Helvetica;  
}
  
.nav li a:hover {
  background-color: #046704;
}

.menu-avatar {
  vertical-align: middle;
  padding-left: 8px;
}

.dashboard-list li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}
/* */

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
