.center {
  text-align: center;
}

.game-logo {
  height: 400px; 
  text-align: center;
  align-items: center;
    
}
.avatar {
   margin-bottom: 5px;
}

.user-name {
   font-size: 1.6em;
   font-weight: bold;
   margin-bottom: 15px;  
}
.user-score-info {
  margin: 10px;
  display: flex;
  flex-direction: column;
  border-left: 2px solid lightgrey;
  padding-left: 10px;  
}

.user-answered, .user-created {
  margin: 10px;
  width: 100%;
}
.user-ans-score-title, .user-cre-score-title {
  float: left;
}
.user-ans-score, .user-cre-score {
  float: right;
}
.score-label {
   background-color: #f5f3f3;
   font-style: Arial;
   font-size: .9em;
   font-weight: bold; 
   margin: 10px 0;
   padding: 10px 0;  
}

.user-total-score {
  border-left: 2px solid lightgrey;
  padding: 20px;    
  margin: auto;
}

.score {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 1.2em;
  color: #fff;
  line-height: 2.8em;
  text-align: center;
  background-color: green  
}

.question-frame, .sign-in, .user-status {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  margin: 10px auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}

.question {
  padding: 10px;
  display: flex;
  align-items: center;
}


.question-info {
  margin: 10px;
  display: flex;
  flex-direction: column;
  border-left: 2px solid lightgrey;
  padding-left: 10px;
  width: 100%;
}


.title {
   padding: 10px;
   border: 1px solid #dad7d7;
   border-radius: 3px;
   background-color: #f5f3f3;
   font-style: Arial;
   font-size: 1.2em;
   font-weight: bold;
}

.timestamp {
   font-size: .4em;
}
.user-info {
   padding-right: 10px;
}

.dashboard-option { 
   padding: 10px;
   margin: 10px;
   font-size: 1.2em;
   font-family: Georgia;  
}

.option {
   border: 3px solid lightgrey;
   border-radius: 10px;  
   padding: 10px;
   margin: 10px;
   background-color: #f3f5f5;
   font-size: 1.2em;
   font-family: Georgia;
}

.poll-button, .btn {
  margin: 10px;
  padding: 5px;
  font-size: 1.3em;
  cursor: pointer;
  width: 100%;
}

.bar-result {
  text-align: center;
}

.bar-container {
  width: 300px;
}


.bar-base {
   background-color: grey;
   width: 100%;
   height: 20px;
}

.bar-fraction {
   background-color: green;
   height: 20px;
   color: white;
   text-align: right;
   margin: 2px;
   font-size: .8em;
}

fieldset {
  border: none;
  margin-bottom: 10px;
}

.choices {
  margin-bottom: 10px;
}
input[type="radio"] {
  margin-right: 7px;
}
.author {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.dashboard-list {
  list-style: none;
}
.user-list {
  list-style: none;
  
}
.user-status {
  display: flex;
  align-items: center;  
}
.new-question {
  width: 100%;
}
input[type=text], select {    // no selects in app yet
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.nav {
  margin: 40px;
}
.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}
/* */

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
