.center {
  text-align: center;
}

.avatar {
   margin-bottom: 5px;
}

.question-frame {
  width: 100%;
  max-width: 480px;
  padding: 10px;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}


.question {
  padding: 10px;
  display: flex;
  align-items: center;
}


.question-info {
  margin: 10px;
  display: flex;
  flex-direction: column;
  border-left: 2px solid lightgrey;
  padding-left: 10px;
}


.title {
   padding: 10px;
   border: 1px solid #dad7d7;
   border-radius: 3px;
   background-color: #f5f3f3;
   font-style: Arial;
   font-size: 1.2em;
   font-weight: bold;
}

.timestamp {
   font-size: .4em;
}
.user-info {
   padding-right: 10px;
}

.option {
   border: 3px solid lightgrey;
   border-radius: 10px;  
   padding: 10px;
   margin: 10px;
   background-color: #f3f5f5;
   font-size: 1.2em;
   font-family: Georgia;
}

.poll-button {
  margin: 10px;
  padding: 5px;
  font-size: 1.3em;
  cursor: pointer;
}

.bar-result {
  text-align: center;
}

fieldset {
  border: none;
  margin-bottom: 10px;
}

.author {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.dashboard-list {
  list-style: none;
}
/* */

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
